# Explore Dataset

### Import library

In [57]:
import cv2
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

import warnings
warnings.filterwarnings("ignore")

### Read file labels.csv

In [58]:
label_df = pd.read_csv(r'Dataset\labels.csv')

In [59]:
label_df.head()

   Unnamed: 0                               filename    label
0           0  yubL63eiiPmoRru8Z2K2yRo0NnGDCL683.jpg      sad
1           1  c1tVljKiLM9q2zTBuQGWpxmzBuSeBR437.jpg      sad
2           2  RbzNOvY5GIAl3PSjIRTKpEkQs1NByq575.jpg    angry
3           3  gKujaBuWYezz0yWK9ydTFVi6LbQtXe397.jpg    angry
4           4  U0hJ2ryOu1IOuYpc01O7RngPYa8Xvz795.jpg  relaxed

In [60]:
label_df.sort_values(by=['label', 'filename'], inplace=True)

In [61]:
label_df.head()

      Unnamed: 0                               filename  label
553          553   0AvKtuzA7LfxnKaO0bey9mQMLnxXad73.jpg  angry
978          978  0C5yo7GxMy8lztxNZvSdfEx2gSPRTR701.jpg  angry
946          946  0C9jEgFQHsh36W5U2u5CA98lB7C5eX806.jpg  angry
82            82  0RXraPIKC00Dz1qkuMbj8XbuR80g5Z893.jpg  angry
1535        1535   0TSpHUDh1xIQthYrtH8E1UZQ72rcTZ68.jpg  angry

In [62]:
file_path = os.path.join('Dataset', 'labels_sort.csv')
with open(file_path, "w") as f:
    f.write(label_df.to_csv(index=False))

print(f"File saved to: {file_path}")

File saved to: Dataset\labels_sort.csv

### Rename all of images in Dataset

In [63]:
emotions = ['angry', 'happy', 'relaxed', 'sad']

for emo in emotions:
    for index, file in enumerate(os.listdir(os.path.join('Dataset', emo))):
        pass
        # os.rename(os.path.join('Dataset', emo, file), os.path.join('Dataset', emo, emo + str(index) + '.jpg'))

### Rename filename in labels_sort.csv

In [64]:
label_sort = pd.read_csv(r'Dataset\labels_sort.csv')
label_sort.drop('Unnamed: 0', axis=1, inplace=True)
label_sort

                                   filename  label
0      0AvKtuzA7LfxnKaO0bey9mQMLnxXad73.jpg  angry
1     0C5yo7GxMy8lztxNZvSdfEx2gSPRTR701.jpg  angry
2     0C9jEgFQHsh36W5U2u5CA98lB7C5eX806.jpg  angry
3     0RXraPIKC00Dz1qkuMbj8XbuR80g5Z893.jpg  angry
4      0TSpHUDh1xIQthYrtH8E1UZQ72rcTZ68.jpg  angry
...                                     ...    ...
3995  zmAi6ZjC6ParXdqeN27YV8sAeRVWyj586.jpg    sad
3996  zq3lfQmQ0uVWzfl6yymBDVftU5Vqq5680.jpg    sad
3997  ztwzdxN8wasf9ISldQLOIIIzvnK5As948.jpg    sad
3998  zupPn3v2Zn8o0DQX53gUN5HDMcr0VY706.jpg    sad
3999  zvgEEnik5suJhs8fWtKVnem4dDWIGn745.jpg    sad

[4000 rows x 2 columns]

In [65]:
index = 0
for _, row in label_sort.iterrows():
    if index == 1000:
        index = 0
    row[0] = row[1] + str(index)
    index += 1

In [70]:
print(label_sort[998:1002])

      filename  label
998   angry998  angry
999   angry999  angry
1000    happy0  happy
1001    happy1  happy